.home{
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &-navbar{
        &-link{
            font-family: $Fuente2;
        }

        &-button{
            color: $color-primario;
            margin-left: 2em;
        }

        &-brand{
            margin-left: 3em;
        }
    }

    &-hero{
        z-index: 1000000;
        width: 70%;
        margin: -20% 0 20% 0;
    }

    &-skew{
        position: absolute;
        background: $color-primario;
        top: 0;
        right: 0;
        left: 48%;
        bottom: 0;
        transform: skew(20deg, 0deg);
        width: 200%;
        display: none;
    }

    &-banner{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-content{
            width: 70%;
            margin: 20% 0 0 0;
        }

        &-salute{
            color: $color-primario;
            font-size: 1.5em;
            font-family: $Fuente1;
            animation: animationIn 1s;
            animation-timing-function: ease-out;
            margin: 0;
        }

        &-name{
            font-size: 2.2em;
            font-family: $Fuente1;
            animation: animationIn 1s;
            animation-timing-function: ease-out;
            margin: 0;
        }

        &-title{
            font-family: $Fuente2;
            animation: animationIn 1.5s;
            animation-timing-function: ease-out;
            margin: 0;
        }

        &-text{
            font-family: $Fuente2;
            color: gray;
            margin-bottom: 10%;
            animation: animationIn 1.3s;
            animation-timing-function: ease-out;
            font-size: .9em;
        }

    }

    &-social{
        margin: 40% 12% 24% 0;
        padding: 2%;

        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 20%;
                a{
                    font-size: 1.3em;
                    color: gray;
                }

                a:hover{
                    color: $color-primario;
                }
            }

            li:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}



